@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --body-bg: #2f3247;
  --nav-bg: #434765;
  --text-color: #95a0f3;
  --text-color-dark: #6373ee;
  --link-color: #acb2dc;
  --link-color-dark: #858dcc;
  --link-color-hover: #d4d7ed;
  --link-color-hover-dark: #acb2dc;
  --heading-color: #c8cef9;
  --heading-color-hover: #e1e7f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: var(--body-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem .5rem;
}

p {
  margin: .15rem 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
  display: inline-block;
  transition: color .25s ease;
}

a:hover {
  color: var(--link-color-hover);
}

a::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--link-color-hover);
  transform: scale(0);
  transition: transform .25s ease;
}

a:hover::after {
  transform: scale(1);
}

a.no-border::after {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: .25rem 0;
  color: var(--heading-color);
  --link-color: var(--heading-color);
  --link-color-hover: var(--heading-color-hover);
}


ul {
  list-style: none;
}

ul.inline {
  display: flex;
  flex-direction: row;
}

ul.inline > li {
  padding: 0 .5rem;
}

ul.dash > li::before {
  content: "– "
}

ul.inline.dash > li {
  padding-right: 0;
  padding-left: .25rem;
}

ul.inline.dash > li:first-child::before {
  content: "";
}

div#nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--text-color);
  border-radius: 0 0 10px 10px;
  padding: .125rem .5rem;
  width: 100%;
  max-width: 810px;
  background-color: var(--nav-bg);
  transition: border-radius .25s ease;
}

div#nav > div#desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div#nav > div#mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

@media screen and (max-width: 810px) {
  div#nav {
    border-radius: 0;
    justify-content: center;
  }

  div#nav > div#desktop-nav {
    display: none !important;
  }

  div#nav > div#mobile-nav {
    display: flex !important;
  }
}

div#nav > div#desktop-nav > ul {
  display: flex;
  flex-direction: row;
}

div#nav > div#desktop-nav > ul  > li {
  padding: 0 .5rem;
}

div#content {
  padding-top: 3.5rem;
  max-width: 1024px;
  width: 100%;
}

div#footer {
  color: var(--text-color-dark);
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  --link-color: var(--link-color-dark);
  --link-color-hover: var(--link-color-hover-dark);
  box-shadow: 0 -1px 10px var(--text-color);
  padding: .5rem .75rem;
  border-radius: 10px 10px 0 0;
  margin-bottom: -.75rem;
}